h1{
    color: #000;
}
#wpbody-content{
    height: 97.5vh;
    background-color:#2f3139; 
	padding-bottom:0!important;
}
#wpcontent{
    padding-left:0;
}

.plugin-title{
    border-bottom: #ff710c 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.plugin-title .wrapper{
    padding: 0% 3% 0;
    border: 2px #ff710c solid;
    border-bottom: 0;
    border-radius: 15px 15px 0px 0px;
    background-color: #2f3139;
}
.plugin-title h1{
    color:#ff710c;
}

.ppa-body{
    width: 100%;
    height: fit-content;
}
.ppa-wrapper{
    width: 95%;
    height: fit-content;
    margin: 2%;
    border: #ff710c 3px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.ppa-wrapper .half-width{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ppa-wrapper .half-width .ppa-wrapper-box{
    width: 48%;
}
.ppa-wrapper-box{
    min-height: 300px;
    border: #ff710c 3px solid;
    margin: 1%;
    border-radius: 10px;
}

.ppa-wrapper-box form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ppa-wrapper-box form input{
    color: #ff710c;
}
.ppa-wrapper-box form input{
    background-color: #2f3139;
    color: #ff710c;
    border: 2px solid #ff710c;
    padding: 10px 20px;
    border-radius:10px;
}