h1{
    color: #000;
}
#wpbody-content{
    height:100vh;
    background-color:#525252; 
}
#wpcontent{
    padding-left:0;
}

.plugin-title{
    border-bottom: #ff9e0c 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.plugin-title .wrapper{
    padding: 0% 3% 0;
    border: 2px #ff9e0c solid;
    border-bottom: 0;
    border-radius: 15px 15px 0px 0px;
    background-color: #525252;
}
.plugin-title h1{
    color:#ff9e0c;
}

.ppa-body{
    width: 100%;
    height: 100%;
}
.ppa-wrapper{
    width: 95%;
    height: fit-content;
    margin: 2%;
    border: #ff9e0c 3px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.ppa-wrapper .half-width{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ppa-wrapper .half-width .ppa-wrapper-box{
    width: 48%;
}
.ppa-wrapper-box{
    min-height: 300px;
    border: #ff9e0c 3px solid;
    margin: 1%;
    border-radius: 10px;
}