h1{
    color: #000;
}
#wpbody-content{
    height: 97.5vh;
    background-color:#343541; 
	padding-bottom:0!important;
}
#wpcontent{
    padding-left:0;
}
.hidden{
    display:none;
}
.plugin-title{
    border-bottom: #c5c5d2 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.plugin-title .wrapper{
    padding: 0% 3% 0;
    border: 2px #c5c5d2 solid;
    border-bottom: 0;
    border-radius: 15px 15px 0px 0px;
    background-color: #343541;
}
.plugin-title h1{
    color:#c5c5d2;
}

.ppa-body{
    width: 100%;
    height: fit-content;
}
.ppa-wrapper{
    width: 95%;
    height: fit-content;
    margin: 2%;
    border: #c5c5d2 3px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.ppa-wrapper .half-width{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ppa-wrapper .half-width .ppa-wrapper-box{
    width: 48%;
}
.ppa-wrapper-box{
    min-height: 300px;
    border: #c5c5d2 1px solid;
    margin: 1%;
    border-radius: 10px;
}

.ppa-wrapper-box form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ppa-wrapper-box form input{
    color: #c5c5d2;
}
.ppa-wrapper-box form input{
    background-color: #343541;
    color: #c5c5d2;
    border: 2px solid #c5c5d2;
    padding: 10px 20px;
    border-radius:10px;
}

.ppa-wrapper-box form .custom-file-input{
    background-color: #343541;
    color: #c5c5d2;
    border: 2px solid #c5c5d2;
    padding: 10px 20px;
    border-radius:10px;
    cursor: pointer;

}
